.navbar{
    background:#F97300;
    height: 60px;
}
.navbar-brand{
    color: #ffffff !important;
}
.nav-button{
    margin-right: 1em !important;
    color: #ffffff !important;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-collapse{
    justify-content: flex-end;
}
.container {
    display: flex;
    height: 100%;
    margin-top: 60px;
    align-items: center;
}
.post {
    text-align: center;
    border: 4px solid black;
    height: 150px;
    width: 150px;
    margin-top: 30px;
    margin-right: 60px;
}
.post-title {
    border-bottom: 2px solid black;
    font-weight: bold;
    background: #9fcdff;
}
.body {
    background-image: url('img/background.png');
}

.title {
    margin-top: 5px !important;
    background: #ec971f !important;
}