.navbar{
    background:#F97300;
    height: 60px;
}
.navbar-brand{
    color: #F97300 !important;
}
.logo {
    background: url('img/logo.png');
    height: 50px;
    width: 50px;
}
.nav-button{
    margin-right: 1em !important;
    color: #F97300 !important;
    float: right;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    color: #FFFFFF !important;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.container {
    display: flex;
    height: 100%;
    margin-top: 60px;
    align-items: center;
}
.post {
    text-align: center;
    border: 2px solid #f8f9fa;
    height: 250px;
    width: 310px;
    margin-top: 30px;
    margin-right: 60px;
    position: relative;
    float: left;
    display:inline-block;
    border-radius: 10px;
}
.post-content {
    top:0;
    height: 86%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-size: 100% 100%!important;
    color:#f8f9fa;
    text-align: left;
    font-size: large;
}
.update-btn {
    background: #f8f9fa !important;
    float: right;
    font-size: 12px;
    position:absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2px !important;
    margin-right: 2px !important;
    border-radius: 10px;
    border: 1px solid #F97300;
    color: #F97300;
}
.update-btn:hover {
    background: #FFFACD !important;
    color: #F97300;
    border: 1px solid #F97300;
}
.post-title {
    background: #f8f9fa !important;
    font-weight: bold;
    color: #F97300;
    font-size: large;
    height: 35px;
    border-radius: 10px 10px 0px 0px;
}
.link:hover {
    text-decoration:underline;
    color: #F97300;;
}
.body {
    background-image: url('img/background.png');
}
.wrapper {
    width: 100%;
}
.title {
    margin-top: 5px !important;
    background: #ec971f !important;
}
.delete {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(252, 20, 0, 0.8);
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.delete:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 12px;
}
.delete:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.server-error {
    color: #F97300 !important;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}